@import "assets/styles/style.scss";

.customButton {
  background-color: transparent;
  outline: none;
  padding: 6px;
  min-width: 100px;
  border: 1px solid $blue;
  border-radius: 4px;
  @include midflex;
  font-size: 10px;
  line-height: 13px;
  color: $blue;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $blue;
    color: #ffffff;
  }
}
