h2 {
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
}

h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

p {
  font-size: 12px;
  line-height: 15px;
}

.--white {
  color: #ffffff;
}
